.nCafe-Btn{
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    padding: 0 12px;
    height: 36px;
    margin-left: 10px;
    cursor: pointer;
}

.nCafe-GrayBtn{
    background-color: #eff0f2;
}


/*
*   쇼츠 최대 y길이 설정
*/
.se-module.se-module-oembed:has(iframe[src^="https://www.youtube.com/embed/"]) {
    padding-top: 56.25% !important;
}

/* 공지 최소화 */
#upperArticleList>table>tbody>tr:nth-child(n+7)[class~="_noticeArticle"]{
    display: none;
}

._noticeArticle>.td_article>a{
    display: none;
}
