html[data-loaded="false"] #front-img {
    transition: none !important; /* JS 적용 전 깜빡임 방지 */
}

#front-img {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 500px; /* 기본적으로 열려있는 상태 */
}

#front-img[data-collapsed="true"] {
    max-height: 0;
}


.nCafe-Btn{
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    padding: 0 12px;
    height: 36px;
    margin-left: 10px;
    cursor: pointer;
}

.nCafe-GrayBtn{
    background-color: #eff0f2;
}


/*
*   쇼츠 최대 y길이 설정
*/
.se-module.se-module-oembed:has(iframe[src^="https://www.youtube.com/embed/"]) {
    padding-top: 56.25% !important;
}

/* 공지 최소화 */
#cafe_content>.article-board>table>tbody>tr:nth-child(n+7)[class~="board-notice"]{
    display: none;
}

._noticeArticle>.td_article>a{
    display: none;
}

/* 대표 인기카페 배너, 카페 주제 없애기 */
#tab_cafe ul:last-child, .Sidebar_aside_btn_talk__QkAbj{
    display: none;
}

.webtoonView>#main-area{
    float: left !important;
    margin-left: 110px;
}

.webtoonView>#group-area{
    display: none;
}


/* 카페 채팅 버튼 없애기 */
#cafe-info-action .ia-info-btn{
    display: none !important;
}


.cafe-menu-tit.frst{
    border-top-color: #e5e5e5 !important;
}